.main-container{
  margin: auto;
  width: 80%;
}

.modal{
  position: relative;
  top: 30%;
  left: 30%;
  background-color: lightgray;
  width:400px;
  height: 180px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
}

label {
  display: inline-block;
  float: left;
}

.input-field{
  float: right;
  background: white;
}

.modal-container{
  display: grid;
}

.modal-container > div{
  padding: 5px;
}

.add-button{
  display: block;
  margin: auto;
  padding: 10px;
  margin-top: 20px;
}

.close-btn{
  background: transparent;
  float: right;
  border: none;
}
